

.app {
    background: #6597b9;
    padding: 30px;
    height: 100vh;
}

.todo-list {
    background: #e8e8e8;
    border-radius: 4px;
    padding: 5px;
    max-width: 400px;
}

.todo{
    background: #fff;
    box-shadow: 3px 3px 3px rgba(78, 46, 46, 0.384);
    padding: 3px 10px;
    font-size: 12px;
    margin-bottom: 6px;
    border-radius: 10px; 
    display: flex;
    align-items: center;
    justify-content: space-between;

}



.input{
    width: 100%;
    box-shadow: border-box;
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    padding: 1rem;
    height: 2.25em;
}